<h1>Welcome to Startup X Students!</h1>

<div>
    <h2>
      About Us!
    </h2> 

    <p> Startup X Students is an online database that helps university students to find startups that are looking for interns and helps startups to find university students that are looking for student interns! </p>

  
  </div>
